@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0B0C10;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-image:
    repeating-linear-gradient(
      0deg,
      transparent,
      transparent 39px,
      #1F2833 40px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 39px,
      #1F2833 40px
    );
}
